@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&display=swap');

*{
  /* outline: 1px dotted red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

/* ::-webkit-scrollbar{
  visibility: hidden;
} */

body{
  background-color: #F5F5F5;
}

a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.container {
  padding-left: 10%;
  padding-right: 10%;
}

.btn {
  background: none;
  color: #FFF;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  outline: 1px solid white;
  border: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.26s;
}

.btn:hover {
  background: #FFF;
  color: #212121;
  outline: 0;
}

.btn img {
  width: 20px;
  margin-left: 10px;
}

.btn.dark-btn {
  color: #212EA0;
  border: 1px solid #212EA0;
}
.btn.dark-btn:hover {
  background-color: #212EA0;
  color: #fff;
}

.btn img {
  filter: invert(100%);
  transition: filter 0.3s ease; /* Smooth transition */
}

.btn:hover img {
  filter: invert(0%);
}

/* --- media query --- */

@media (max-width: 1200px) {

    .container {
      padding: 0 5%;
    }

    .btn {
      padding: 14px 22px;
      font-size: small;
      background: #FFF;
      color: #212121;
    }

    .btn:hover {
      background: none;
      color: #F5F5F5;
      outline: 1px solid #F5F5F5;
    }

    .btn.dark-btn {
      background: #212EA0;
      color: #F5F5F5;
    }

    .btn.dark-btn img {
      filter: invert(0);
    }

    .btn.dark-btn:hover {
      background: #F5F5F5;
      outline: 1px solid #212EA0;
      color: #212121;
    }

    .btn.dark-btn:hover img {
      filter: invert(100%);
    }
}