@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body{
  background-color: #F5F5F5;
}

a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.container {
  padding-left: 10%;
  padding-right: 10%;
}

.btn {
  background: none;
  color: #FFF;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  outline: 1px solid white;
  border: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.26s;
}

.btn:hover {
  background: #FFF;
  color: #212121;
  outline: 0;
}

.btn img {
  width: 20px;
  margin-left: 10px;
}